In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("Insurance_Data.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]

In [9]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor 
param_grid = {'criterion':['mse','absolute_error','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}

grid= GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3, n_jobs=-1)

grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'absolute_error', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [13]:
print("R_score value for best parameter {}:".format(grid.best_params_))

R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'auto', 'splitter': 'random'}:

In [15]:
results=grid.cv_results_

In [17]:
results

{'mean_fit_time': array([0.02192359, 0.01571722, 0.00942373, 0.00937696, 0.0124979 ,
        0.01109529, 0.04730582, 0.03962464, 0.02972102, 0.02339578,
        0.02844663, 0.03260889, 0.0140348 , 0.00140562, 0.01005735,
        0.00489988, 0.00816059, 0.00938587]),
 'std_fit_time': array([0.0077171 , 0.00017792, 0.00769494, 0.00765625, 0.00624895,
        0.00607828, 0.0049538 , 0.00714971, 0.00402892, 0.00715864,
        0.00640326, 0.00448797, 0.00656306, 0.00172153, 0.00459756,
        0.00276528, 0.00636878, 0.00766353]),
 'mean_score_time': array([0.00317078, 0.003126  , 0.0082654 , 0.00625014, 0.00946317,
        0.00652127, 0.00312638, 0.00745621, 0.0031292 , 0.00635438,
        0.01042609, 0.00434179, 0.00224018, 0.00312872, 0.00336628,
        0.00080438, 0.00312862, 0.        ]),
 'std_score_time': array([0.00634155, 0.006252  , 0.00704636, 0.00765483, 0.0077284 ,
        0.00556995, 0.00625277, 0.00702773, 0.00625839, 0.00778397,
        0.0065811 , 0.00116841, 0.00203863, 0.00625744, 0.00317318,
        0.00160875, 0.00625725, 0.        ]),
 'param_criterion': masked_array(data=['mse', 'mse', 'mse', 'mse', 'mse', 'mse',
                    'absolute_error', 'absolute_error', 'absolute_error',
                    'absolute_error', 'absolute_error', 'absolute_error',
                    'friedman_mse', 'friedman_mse', 'friedman_mse',
                    'friedman_mse', 'friedman_mse', 'friedman_mse'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_max_features': masked_array(data=['auto', 'auto', 'sqrt', 'sqrt', 'log2', 'log2', 'auto',
                    'auto', 'sqrt', 'sqrt', 'log2', 'log2', 'auto', 'auto',
                    'sqrt', 'sqrt', 'log2', 'log2'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'param_splitter': masked_array(data=['best', 'random', 'best', 'random', 'best', 'random',
                    'best', 'random', 'best', 'random', 'best', 'random',
                    'best', 'random', 'best', 'random', 'best', 'random'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False],
        fill_value='?',
             dtype=object),
 'params': [{'criterion': 'mse', 'max_features': 'auto', 'splitter': 'best'},
  {'criterion': 'mse', 'max_features': 'auto', 'splitter': 'random'},
  {'criterion': 'mse', 'max_features': 'sqrt', 'splitter': 'best'},
  {'criterion': 'mse', 'max_features': 'sqrt', 'splitter': 'random'},
  {'criterion': 'mse', 'max_features': 'log2', 'splitter': 'best'},
  {'criterion': 'mse', 'max_features': 'log2', 'splitter': 'random'},
  {'criterion': 'absolute_error', 'max_features': 'auto', 'splitter': 'best'},
  {'criterion': 'absolute_error',
   'max_features': 'auto',
   'splitter': 'random'},
  {'criterion': 'absolute_error', 'max_features': 'sqrt', 'splitter': 'best'},
  {'criterion': 'absolute_error',
   'max_features': 'sqrt',
   'splitter': 'random'},
  {'criterion': 'absolute_error', 'max_features': 'log2', 'splitter': 'best'},
  {'criterion': 'absolute_error',
   'max_features': 'log2',
   'splitter': 'random'},
  {'criterion': 'friedman_mse', 'max_features': 'auto', 'splitter': 'best'},
  {'criterion': 'friedman_mse', 'max_features': 'auto', 'splitter': 'random'},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'best'},
  {'criterion': 'friedman_mse', 'max_features': 'sqrt', 'splitter': 'random'},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'splitter': 'best'},
  {'criterion': 'friedman_mse', 'max_features': 'log2', 'splitter': 'random'}],
 'split0_test_score': array([0.71694248, 0.66276373, 0.73992944, 0.68760747, 0.68740956,
        0.65364604, 0.72292359, 0.7032692 , 0.74454698, 0.57460387,
        0.61306657, 0.54306106, 0.7109673 , 0.75418831, 0.74397786,
        0.71359727, 0.6902738 , 0.64381545]),
 'split1_test_score': array([0.65471137, 0.61313219, 0.63636251, 0.52134155, 0.70476724,
        0.52812628, 0.59731199, 0.63524459, 0.55509425, 0.53958052,
        0.61020877, 0.67008312, 0.65699155, 0.6258617 , 0.65395999,
        0.61401348, 0.56340408, 0.56717199]),
 'split2_test_score': array([0.72583943, 0.69380937, 0.5839839 , 0.66229699, 0.6135697 ,
        0.71907267, 0.71547027, 0.73532549, 0.62144031, 0.60322621,
        0.64987979, 0.71823738, 0.7396163 , 0.68608756, 0.6903432 ,
        0.49769177, 0.74506198, 0.71727086]),
 'split3_test_score': array([0.73827298, 0.68453207, 0.75817555, 0.69197233, 0.68292656,
        0.66856488, 0.738739  , 0.73476585, 0.7493296 , 0.7187449 ,
        0.67475422, 0.6874801 , 0.73898191, 0.67943383, 0.72365835,
        0.64573928, 0.58245024, 0.6697327 ]),
 'split4_test_score': array([0.68444807, 0.65237583, 0.6545184 , 0.65057747, 0.68647997,
        0.7041382 , 0.74719666, 0.7566804 , 0.76104097, 0.66717241,
        0.68043179, 0.72253293, 0.68388463, 0.67215786, 0.72158687,
        0.69729047, 0.68568971, 0.7585822 ]),
 'mean_test_score': array([0.70404286, 0.66132264, 0.67459396, 0.64275916, 0.67503061,
        0.65470962, 0.7043283 , 0.71305711, 0.68629042, 0.62066558,
        0.64566823, 0.66827892, 0.70608834, 0.68354585, 0.70670525,
        0.63366645, 0.65337596, 0.67131464]),
 'std_test_score': array([0.03043269, 0.02827899, 0.0653138 , 0.06263928, 0.03164927,
        0.06753107, 0.05467031, 0.04247525, 0.08291367, 0.06447176,
        0.02963943, 0.06556035, 0.03204189, 0.04116035, 0.03145758,
        0.07675683, 0.06919155, 0.06531768]),
 'rank_test_score': array([ 5, 12,  9, 16,  8, 13,  4,  1,  6, 18, 15, 11,  3,  7,  2, 17, 14,
        10])}

In [23]:
table=pd.DataFrame.from_dict(results)

In [24]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.021924,0.007717,0.003171,0.006342,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.716942,0.654711,0.725839,0.738273,0.684448,0.704043,0.030433,5
1,0.015717,0.000178,0.003126,0.006252,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.662764,0.613132,0.693809,0.684532,0.652376,0.661323,0.028279,12
2,0.009424,0.007695,0.008265,0.007046,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.739929,0.636363,0.583984,0.758176,0.654518,0.674594,0.065314,9
3,0.009377,0.007656,0.006250,0.007655,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.687607,0.521342,0.662297,0.691972,0.650577,0.642759,0.062639,16
4,0.012498,0.006249,0.009463,0.007728,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.687410,0.704767,0.613570,0.682927,0.686480,0.675031,0.031649,8
5,0.011095,0.006078,0.006521,0.005570,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.653646,0.528126,0.719073,0.668565,0.704138,0.654710,0.067531,13
6,0.047306,0.004954,0.003126,0.006253,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",0.722924,0.597312,0.715470,0.738739,0.747197,0.704328,0.054670,4
7,0.039625,0.007150,0.007456,0.007028,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",0.703269,0.635245,0.735325,0.734766,0.756680,0.713057,0.042475,1
8,0.029721,0.004029,0.003129,0.006258,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.744547,0.555094,0.621440,0.749330,0.761041,0.686290,0.082914,6
9,0.023396,0.007159,0.006354,0.007784,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.574604,0.539581,0.603226,0.718745,0.667172,0.620666,0.064472,18
10,0.028447,0.006403,0.010426,0.006581,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.613067,0.610209,0.649880,0.674754,0.680432,0.645668,0.029639,15
11,0.032609,0.004488,0.004342,0.001168,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.543061,0.670083,0.718237,0.687480,0.722533,0.668279,0.065560,11
12,0.014035,0.006563,0.002240,0.002039,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.710967,0.656992,0.739616,0.738982,0.683885,0.706088,0.032042,3
13,0.001406,0.001722,0.003129,0.006257,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.754188,0.625862,0.686088,0.679434,0.672158,0.683546,0.041160,7
14,0.010057,0.004598,0.003366,0.003173,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.743978,0.653960,0.690343,0.723658,0.721587,0.706705,0.031458,2
15,0.004900,0.002765,0.000804,0.001609,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.713597,0.614013,0.497692,0.645739,0.697290,0.633666,0.076757,17
16,0.008161,0.006369,0.003129,0.006257,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.690274,0.563404,0.745062,0.582450,0.685690,0.653376,0.069192,14
17,0.009386,0.007664,0.000000,0.000000,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.643815,0.567172,0.717271,0.669733,0.758582,0.671315,0.065318,10

In [31]:
age_input=int(input("Age :"))
bmi_input=float(input("BMI :"))
children_input=float(input("Children: "))
sex_male_input=int(input("Sex: Male 0 or 1: "))
smoker_yes_input=int(input("Smoker Yes 0 or 1: "))

Age :32
BMI :43
Children: 2
Sex: Male 0 or 1: 0
Smoker Yes 0 or 1: 0

In [33]:

Future_Prediction=grid.predict([[ age_input, bmi_input, children_input, sex_male_input, smoker_yes_input]])
    

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[5152.134]

C:\Users\Hp\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  "X does not have valid feature names, but"