In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("Insurance_Data.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]

In [9]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [10]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor 
param_grid = {'criterion':['mse','absolute_error','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}

grid= GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3, n_jobs=-1)

grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'absolute_error', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [12]:
re=grid.cv_results_
grid_predictions= grid.predict(independent)

In [14]:
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)

print("R_score value for best parameter {}:".format(grid.best_params_),r_score)

R_score value for best parameter {'criterion': 'friedman_mse', 'max_features': 'auto', 'splitter': 'best'}: 0.998667156135576

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.015966,0.002296,0.000000,0.000000,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.732490,0.643389,0.739070,0.696825,0.657661,0.693887,0.038478,3
1,0.014804,0.001643,0.003130,0.006260,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.698144,0.571296,0.701779,0.719675,0.705082,0.679195,0.054443,8
2,0.008561,0.007151,0.006250,0.007654,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.751661,0.663243,0.589378,0.687419,0.777431,0.693827,0.066664,4
3,0.009376,0.007655,0.006251,0.007656,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.725241,0.553133,0.706298,0.601244,0.670899,0.651363,0.064836,17
4,0.010827,0.003974,0.004941,0.004088,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.715222,0.643211,0.766203,0.570514,0.672940,0.673618,0.066119,12
5,0.008241,0.007722,0.009469,0.006744,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.660127,0.561333,0.664804,0.712383,0.683626,0.656455,0.050985,16
6,0.043399,0.003664,0.006251,0.007656,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",0.729472,0.609889,0.702535,0.717084,0.743492,0.700495,0.047280,2
7,0.035794,0.006181,0.009379,0.007658,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",0.747987,0.612798,0.727766,0.638388,0.691035,0.683595,0.051398,7
8,0.028126,0.006251,0.011402,0.006087,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.660044,0.517096,0.702588,0.721192,0.721023,0.664389,0.076951,14
9,0.030466,0.001564,0.005473,0.004908,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.721972,0.566597,0.773661,0.641690,0.676626,0.676109,0.070424,9
10,0.032122,0.000630,0.000304,0.000608,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.707376,0.522589,0.735415,0.728666,0.733584,0.685526,0.082080,6
11,0.019854,0.005713,0.003656,0.006079,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.684946,0.639493,0.697019,0.674353,0.636565,0.666475,0.024326,13
12,0.008933,0.007305,0.004184,0.007122,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.710947,0.641907,0.728040,0.745476,0.678779,0.701030,0.036862,1
13,0.006259,0.007845,0.002604,0.005207,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.663529,0.635028,0.722582,0.743710,0.676771,0.688324,0.039572,5
14,0.005207,0.006377,0.005733,0.007071,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.681437,0.578153,0.567217,0.653342,0.676806,0.631391,0.048993,18
15,0.011992,0.006082,0.000000,0.000000,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.667347,0.601507,0.719953,0.648305,0.661996,0.659822,0.037975,15
16,0.003130,0.006259,0.006259,0.007666,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.699728,0.582250,0.710555,0.676131,0.710748,0.675883,0.048484,10
17,0.010335,0.008482,0.003124,0.006249,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.733112,0.598850,0.717061,0.661557,0.666687,0.675453,0.047315,11

In [18]:
age_input=float(input("Age :"))
bmi_input=float(input("BMI :"))
children_input=float(input("Children: "))
sex_male_input=int(input("Sex: Male 0 or 1: "))
smoker_yes_input=int(input("Smoker Yes 0 or 1: "))

Age :32
BMI :43
Children: 2
Sex: Male 0 or 1: 0
Smoker Yes 0 or 1: 0

In [19]:
Future_Prediction=grid
Future_Prediction([[ 'age_input', 'bmi_input', 'children_input', 'sex_male_input', 'smoker_yes_input']])
    

print("Future_Prediction={}".format(Future_Prediction))

TypeError: 'GridSearchCV' object is not callable