In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("Insurance_Data.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0         0           1
1      18  33.770         1         1           0
2      28  33.000         3         1           0
3      33  22.705         0         1           0
4      32  28.880         0         1           0
...   ...     ...       ...       ...         ...
1333   50  30.970         3         1           0
1334   18  31.920         0         0           0
1335   18  36.850         0         0           0
1336   21  25.800         0         0           0
1337   61  29.070         0         0           1

[1338 rows x 5 columns]

In [8]:
dependent=dataset[['charges']]

In [9]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [12]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor 
param_grid = {'criterion':['mse','absolute_error','friedman_mse'],'max_features':['auto','sqrt','log2'],'splitter':['best','random']}

grid= GridSearchCV(DecisionTreeRegressor(), param_grid, refit = True, verbose = 3, n_jobs=-1)

grid.fit(independent,dependent)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'absolute_error', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [29]:
regressor=grid.cv_results_
print("R_score value for best parameter {}:".format(grid.param_grid))

R_score value for best parameter {'criterion': ['mse', 'absolute_error', 'friedman_mse'], 'max_features': ['auto', 'sqrt', 'log2'], 'splitter': ['best', 'random']}:

In [30]:
table=pd.DataFrame.from_dict(regressor)

In [31]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.011685,0.003263,0.009388,0.006014,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.709686,0.654089,0.730326,0.710881,0.664423,0.693881,0.029388,7
1,0.018522,0.006177,0.006250,0.007654,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.704658,0.597528,0.655248,0.666250,0.677176,0.660172,0.035366,11
2,0.012335,0.006176,0.006997,0.007175,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.643005,0.550194,0.726396,0.725177,0.567648,0.642484,0.074830,14
3,0.008569,0.003767,0.002049,0.002932,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.722934,0.541208,0.420342,0.590052,0.671744,0.589256,0.105371,18
4,0.009196,0.008933,0.003129,0.006259,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.709140,0.691115,0.713447,0.751291,0.728298,0.718658,0.020170,2
5,0.011351,0.005432,0.003350,0.003644,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.627615,0.540252,0.571495,0.618580,0.619517,0.595492,0.033969,17
6,0.034282,0.007112,0.011124,0.007589,absolute_error,auto,best,"{'criterion': 'absolute_error', 'max_features'...",0.737618,0.635454,0.718696,0.728013,0.741071,0.712170,0.039145,3
7,0.035262,0.005852,0.001911,0.002733,absolute_error,auto,random,"{'criterion': 'absolute_error', 'max_features'...",0.656558,0.629310,0.749819,0.721558,0.717262,0.694901,0.044719,5
8,0.026212,0.006673,0.001143,0.002032,absolute_error,sqrt,best,"{'criterion': 'absolute_error', 'max_features'...",0.595410,0.559484,0.569603,0.627961,0.727703,0.616032,0.060649,16
9,0.027758,0.005205,0.001255,0.002511,absolute_error,sqrt,random,"{'criterion': 'absolute_error', 'max_features'...",0.790742,0.665630,0.717107,0.682935,0.662835,0.703850,0.047553,4
10,0.024518,0.004764,0.006140,0.004977,absolute_error,log2,best,"{'criterion': 'absolute_error', 'max_features'...",0.684937,0.598732,0.601610,0.589505,0.694368,0.633831,0.045851,15
11,0.019022,0.007161,0.003071,0.006143,absolute_error,log2,random,"{'criterion': 'absolute_error', 'max_features'...",0.783814,0.550607,0.691682,0.647477,0.713341,0.677384,0.077190,10
12,0.007598,0.003929,0.006620,0.005105,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.715820,0.652431,0.721027,0.713980,0.668803,0.694412,0.028170,6
13,0.006906,0.003259,0.003085,0.003159,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.732043,0.682234,0.774806,0.720813,0.758348,0.733649,0.031983,1
14,0.002987,0.003710,0.010398,0.005804,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.708871,0.544512,0.708618,0.731745,0.604741,0.659697,0.072512,12
15,0.006458,0.002559,0.004771,0.003432,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.707610,0.580962,0.608568,0.624970,0.723467,0.649115,0.056253,13
16,0.004951,0.004259,0.007779,0.006919,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.646242,0.581246,0.784589,0.738026,0.683935,0.686807,0.070685,8
17,0.007461,0.001816,0.003725,0.002485,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.778787,0.604549,0.708431,0.667387,0.631398,0.678110,0.061259,9

In [32]:
age_input=float(input("Age :"))
bmi_input=float(input("BMI :"))
children_input=float(input("Children: "))
sex_male_input=int(input("Sex: Male 0 or 1: "))
smoker_yes_input=int(input("Smoker Yes 0 or 1: "))

Age :32
BMI :43
Children: 2
Sex: Male 0 or 1: 0
Smoker Yes 0 or 1: 0

In [47]:
Future_Prediction=grid
Future_Prediction([[ 'age_input', 'bmi_input', 'children_input', 'sex_male_input', 'smoker_yes_input']])
    

print("Future_Prediction={}".format(Future_Prediction))

TypeError: 'GridSearchCV' object is not callable